@import "../stock/variable";

.footer {
    margin: 85px 0px 50px 114px;

    &__icon {
        display: flex;
        justify-content: space-around;
        width: 40%;

        &__img {
            width: 25px;
            height: auto;
            transition: all 200ms ease-out;

            &:hover {
                animation: logoAnim 200ms ease-in 2; 
            }
        }
    }

    &__copyright {
        margin-top: 5px;
        color: $color-black;
        font-size: 20px;
    }
}


// Media query 

@media screen and (max-width: 1024px) {
    .footer {
        &__copyright {
            font-size: 18px;
        }

    }
}

@media screen and (max-width: 768px) {
    .footer {
        @include flexMid;
        flex-direction: column;
        position: fixed;
        right: 7%;
        bottom: 2%;
        z-index: 2;

        &__icon {
            &__img {
                margin: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .footer {
        right: 31%;

        &__copyright {
            white-space: nowrap;
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 375px) {
    .footer {
        right: 30%;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        right: 25%;

    }
}
