.header {
    color: $color-black;
    
    &__top {
        margin-right: 147px;
        display: flex;

        div {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
        }

        &__name {
            font-size: 35px;
            font-weight: normal;
        }

        &__metier {
            font-size: 20px;
            align-self: flex-end;
        }
    }
}