// Import
@import "./sass/stock/variable";
@import "./sass/stock/mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    list-style: none;
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

// Components
@import "./sass/components/Header.scss";
@import "./sass/components/Menu.scss";
@import "./sass/components/Footer.scss";

// Views
@import "./sass/views/Acceuil.scss";