// Import
@import "./sass/stock/variable";
@import "./sass/stock/mixin";

// Components
@import "./sass/components/Header.scss";
@import "./sass/components/Menu.scss";
@import "./sass/components/Footer.scss";
@import "./sass/components/Modal-image.scss";

// Views
@import "./sass/views/Accueil.scss";
@import "./sass/views/Projets.scss";
@import "./sass/views/Experience.scss";
@import "./sass/views/Propos.scss";
@import "./sass/views/Contact.scss";
@import "./sass/views/Formation.scss";

// Les Projets
@import "./sass/views/projets/Ohmyfood.scss";
@import "./sass/views/projets/Reservia.scss";
@import "./sass/views/projets/Orinoco.scss";
@import "./sass/views/projets/Sopekocko.scss";
@import "./sass/views/projets/Groupamania.scss";
@import "./sass/views/projets/MyBeautyBreak.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    list-style: none;
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

.app {
    width: 100vw;
    height: 100%;
    padding: 64px 56px 63px 55px;
}

// Media Query 

@media screen and (max-width: 425px) {
    .app {
        padding: 0px;
    }
}

