@import "../stock/variable";
@import "../stock/mixin";
@import "../stock/animation";

.acceuil {
    &__box {
        position: fixed;
        left: 35%;
        width: 60%;
        height: 641px;
        animation: pageAnimation 1s ease-in;

        img {
            height: auto;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
            transition: all 200ms ease;
            cursor: pointer;
        }

        &:hover {
            border: 2px solid $color-purple;
            border-style: dashed double dashed;
        }

        &:hover > a > img {
            transform: scale(0.95);
        }
    }
}

// Media Query 

@media screen and (max-width: 1024px) {
    .acceuil {
        &__box {
            left: 40%;
            width: 55%;
            height: 580px;
        }
    }
}

@media screen and (max-width: 768px) {
    .acceuil {
        position: initial;
        display: flex;
        flex-direction: column;
        &__box {
            position: initial;
            height: 520px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 425px) {
    .acceuil {
        &__box {
            margin-top: 30px;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
} 

@media screen and (max-width: 375px) {
    .acceuil {
        img {
            height: 100%;
        }
    }
}