@import "../stock/variable";
@import "../stock/mixin";
@import "../stock/animation";

.experience {

    &__box {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 35%;
        animation: pageAnimation 1s ease-in;
        
        &__article {
            position: relative;
            background-color: $color-white;
            text-align: center;
            width: 354px;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-bottom: 6px;
            box-shadow: -5px 4px 6px -3px #000;

            p {
                margin: 10px;
            }

            .fa-briefcase {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 122.5%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border-radius: 100%;
                z-index: 2;
                color: $color-black;
                background-color: $color-black;
                transition: all 200ms ease-in;
            }
            &:hover .fa-briefcase, &.hover .fa-briefcase {
                color: $color-white;
                background-color: $color-purple;
            }
        }


        .article-end {
            box-shadow: 5px 4px 6px -3px #000;
            align-self: flex-end;
            
            .fa-briefcase {
                left: -21.5%;
            }
        }
    }

    &__box::after {
        position: absolute;
        top: 0px;
        left: 50%;
        content: "";
        width: 5px;
        height: 98%;
        background-color: $color-black;
    }
}

// Media Query 



@media screen and (max-width: 1920px) {
    .experience {
        &__box {
            &__article {
                .fa-briefcase {
                    left: 167%;
                }

            }

            .article-end {
                .fa-briefcase {
                    left: -65.3%;
                }
            }
        }
    }
}

@media screen and (max-width: 1680px) {
    .experience {
        &__box {
            &__article {
                .fa-briefcase {
                    left: 145%;
                }

            }

            .article-end {
                .fa-briefcase {
                    left: -43.4%;
                }
            }
        }
    }
}

@media screen and (max-width: 1620px) {
    .experience {
        &__box {
            &__article {
                .fa-briefcase {
                    left: 139.5%;
                }

            }

            .article-end {
                .fa-briefcase {
                    left: -37.5%;
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .experience {
        &__box {
            &__article {
                .fa-briefcase {
                    left: 137.5%;
                }

            }

            .article-end {
                .fa-briefcase {
                    left: -36%;
                }
            }
        }
    }
}

@media screen and (max-width: 1540px) {
    .experience {
        &__box {
            &__article {
                .fa-briefcase {
                    left: 131.5%;
                }

            }

            .article-end {
                .fa-briefcase {
                    left: -30.2%;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .experience {
        &__box {
            &__article {
                .fa-briefcase {
                    left: 122.7%;
                }

            }

            .article-end {
                .fa-briefcase {
                    left: -21.3%;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .experience {
        &__box {
            &__article {
                width: 243.5px;

                p {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .experience {
        &__box {
            margin-left: 0;
            &__article {
                width: 243.5px;
                padding: 10px 0;

                p {
                    font-size: 10px;
                }
                
                .fa-briefcase {
                    left: 136%;
                }
            }

            .article-end {
                .fa-briefcase {
                    left: -34%;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .experience {
        &__box {
            margin-top: 20px;
            margin-left: 0;
            &__article {
                width: 100%;
                padding: 10px 0;
                margin-bottom: 20px;
                z-index: 1;
                transition: all 200ms ease-in;

                p {
                    font-size: 10px;
                }
                
                .fa-briefcase {
                    display: none;
                }

                &:hover {
                    background-color: $color-purple;
                    color: $color-white;
                }

            }

            .article-end {
                .fa-briefcase {
                    display: none;
                }
            }
        }
    }
}