@import "../stock/variable";
@import "../stock/mixin";
@import "../stock/animation";

.formation {
    display: flex;

    &__box {
        position: fixed;
        left: 40%;
        @include flexMid;
        flex-direction: column;
        justify-content: start;
        animation: pageAnimation 1s ease-in;

        &__article {
            h2 {
                margin-top: 41px;
                margin-bottom: 112px;
                font-size: 25px;
                font-weight: lighter;
            }

            .slide-1 {
                position: relative;
                display: flex;
                overflow: hidden;
                width: 700px;
                height: 100px;
            }

            .slide-2 {
                position: relative;
                display: flex;
                overflow: hidden;
                width: 700px;
                height: 100px;
            }

            .container-slide {
                display: flex;

                .text-slider {
                    text-align: center;
                    white-space: nowrap;
                    width: 700px;
                    margin: 12px 0px 0px 0px;
                    font-size: 20px;
                }
            }

            .fa-sort-down {
                position: absolute;
                font-size: 50px;
                cursor: pointer;
                z-index: 2;
                transition: all 200ms ease-in-out;

                &:hover {
                    color: $color-purple;
                }
            }

            .arrow-left {
                top: 0%;
                left: 5%;
                transform: rotate(90deg);
            }

            .arrow-right {
                top: 0%;
                right: 5%;
                align-self: flex-end;
                transform: rotate(-90deg);
            }
        }

        .separateur {
            width: 708px;
            height: 5px;
            background-color: $color-black;
            margin-top: 80px;
            margin-bottom: 44px;
        }
    }
}

// Media Query 

@media screen and (max-width: 1024px) {
    .formation {
        &__box {
            left: 35%;

            &__article {
                h2 {
                    text-align: center;
                    font-size: 18px;
                }

                .container-slide {
                    .text-slider {
                        font-size: 15px;
                    }
                }

                .fa-sort-down {
                    font-size: 30px;
                    z-index: 99999;
                }

                .arrow-left {
                    left: 15%;
                }

                .arrow-right {
                    right: 15%;
                }
            }
        }

        .separateur {
            width: 500px;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 768px) {
    .formation {
        flex-direction: column;

        &__box {
            position: initial;

            &__article {
                h2 {
                    margin-bottom: 50px;
                }

                .arrow-left {
                    z-index: 1;
                }

                .arrow-right {
                    z-index: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .formation {
        &__box {
            display: initial;
            margin-top: 50px;
            &__article {
                overflow: hidden;

                h2 {
                    font-size: 12px;
                }

                .slide-1 {
                    width: initial;
                }

                .slide-2 {
                    width: initial;
                }

                .container-slide {
                    .text-slider {
                        width: 430px;
                        font-size: 12px;
                    }
                }

                .fa-sort-down {
                    font-size: 20px;
                }

                .arrow-left {
                    top: 9%;
                    left: 8%;
                }

                .arrow-right {
                    top: 9%;
                    right: 8%;
                }
                
            }
        }

        .separateur {
            width: 100%;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 375px) {
    .formation {
        &__box {
            &__article {
                .container-slide {
                    .text-slider {
                        font-size: 10px;
                        width: 380px;
                    }
                }

                .arrow-left {
                    top: 7%;
                }

                .arrow-right {
                    top: 7%;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .formation {
        &__box {
            &__article {
                h2 {
                    font-size: 10px;
                }
                .container-slide {
                    .text-slider {
                        font-size: 10px;
                        width: 315px;
                    }
                }
            }
        }
    }
}