@import "../stock/variable";
@import "../stock/mixin";
@import "../stock/animation";

.projets {
    &__box {
        position: fixed;
        left: 34%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 5%;
        color: $color-black;
        animation: pageAnimation 1s ease-in;

        &__article {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;

            img {
                cursor: pointer;
                height: 216px;
                width: 260px;
                border-radius: 2px;
                filter: saturate(0);
                transition: all 250ms ease-in;

                &:hover {
                    filter: saturate(1);
                    border: 2px solid $color-black;
                }

                &:hover h6, &.hover h6 {
                    color: $color-purple;
                }
            }

            h6 {
                font-size: 20px;
                margin-top: 46px;
                transition: all 350ms ease;
                cursor: pointer;

                &:hover {
                    color: $color-purple;
                }
            }
        }
    }
}

// Media Query 

@media screen and (max-width: 1024px) {
    .projets {
        &__box {
            margin-right: 0px;
            &__article {
                margin-bottom: 30px;

                img {
                    width: 190px;
                    height: 180px;
                }

                h6 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .projets {
        &__box {
            position: inherit;
        }
    }
}

@media screen and (max-width: 425px) {
    .projets {
        &__box {
            margin-top: 40px;
            &__article {
                width: 100%;

                h6 {
                    margin-top: 35px;
                }

                img {
                    border-top: 2px solid ;
                    border-bottom: 2px solid ;
                    width: 100%;
                    height: 300px;
                    filter: saturate(1);
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .projets {
        &__box {
            &__article {
                img {
                    height: 320px;
                }
            }
        }
    }
}